.container {
    width: auto;
    height: 215px;
    background-color: yellow;
    border: 2px solid red;
    display: grid;
    justify-content: center; /* Center align the box horizontally */
    align-items: center; /* Center align the box vertically */
}

.box {
    height: 150px; /* Set the height of the circle */
    width: 150px; /* Set the width of the circle */
    border-radius: 50%; /* Make the box a circle */
    border: 2px solid green;
    background-color: aqua;

    animation-name: babbar;
    animation-duration: 7s;
    animation-iteration-count: 2;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

@keyframes babbar {
    25% {
        width: 150px; /* Initial width */
        height: 150px; /* Initial height */
        background-color: orange;
    }

    50% {
        width: 35%; /* Intermediate width */
        height: 35%; /* Intermediate height */
        background-color: white;
    }

    100% {
        width: 150px; /* Final width */
        height: 150px; /* Final height */
        background-color: rgb(0, 26, 128);
    }
}
